*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/system/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
.agent
.agents
AGENTS.md
agents.md
generate_key.php
obfuscate_license_files.php
*.raw
/system/storage/app/license.lic
.env
.env.*
!.env.example
system/.env
system/.env.*
!system/.env.example
system/vendor
/system/storage/framework/cache/data/*
/system/storage/framework/sessions/*
/system/storage/framework/views/*
/system/storage/logs/*
